@{
    ViewBag.Title = "实力优势";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/helpCenter.css");
}

<div class="container main-container">

    <div>
        <div class="row">
           
            <div class="col-sm-12">

                <div id="companyIntroduce">
                    @if (ViewBag.PageType == 0)
                    {@Html.Action("CompanyIntroduce", "Index")}

                    @if (ViewBag.PageType == 1)
                    {@Html.Action("GroupIntroduce", "Index")}

                    @if (ViewBag.PageType == 2)
                    { @Html.Action("ProduceControl", "Index")}

                </div>

            </div>
        </div>




    </div>


</div>
