@{
    ViewBag.Title = "实力优势";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/helpCenter.css");
}

<div class="container main-container">

    <div class="brand-story-title-wrapper">
        <h3 class="text-center">实力优势</h3>
    </div>


    <div class="help-center-wrapper">

        <p>我们关心您和您家人的健康，下面列出了一些常见的问题，可以帮助您快速了解我们的产品。</p>

        <div class="row">
            <div class="col-sm-3">

                <h3 class="second-head">常见问题分类</h3>

                <div class="panel-group" id="accordion-menu">

                    <div class="panel">

                        <div class="panel-title">

                            <a data-toggle="collapse" href="javascript:void(0);" class="collapsed">
                                <span class="main-item">
                                    <span>企业介绍</span>
                                </span>
                            </a>

                        </div>

                        @*<div id="menu-item-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="child-menu-item">
                                        <li>交易条款</li>
                                        <li>购物流程</li>
                                        <li>促销咨询</li>
                                        <li>商品咨询</li>
                                        <li>生活旅行</li>
                                    </ul>
                                </div>
                            </div>*@

                    </div>

                    <div class="panel">

                        <div class="panel-title">

                            <a data-toggle="collapse" href="javascript:void(0);" class="collapsed">
                                <span class="main-item">
                                    <span>了解我们</span>
                                </span>
                            </a>

                        </div>

                        @*<div id="menu-item-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="child-menu-item">
                                        <li>交易条款</li>
                                        <li>购物流程</li>
                                        <li>促销咨询</li>
                                        <li>商品咨询</li>
                                        <li>生活旅行</li>
                                    </ul>
                                </div>
                            </div>*@

                    </div>

                    <div class="panel">

                        <div class="panel-title">

                            <a data-toggle="collapse" href="javascript:void(0);" class="collapsed">
                                <span class="main-item">
                                    <span>质量监控</span>
                                </span>
                            </a>

                        </div>

                        @*<div id="menu-item-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="child-menu-item">
                                        <li>交易条款</li>
                                        <li>购物流程</li>
                                        <li>促销咨询</li>
                                        <li>商品咨询</li>
                                        <li>生活旅行</li>
                                    </ul>
                                </div>
                            </div>*@

                    </div>

                </div>


            </div>

            <div class="col-sm-9">

                <div id="companyIntroduce">
                    @if (ViewBag.PageType == 0)
                    {@Html.Action("CompanyIntroduce", "Index")}

                    @if (ViewBag.PageType == 1)
                    {@Html.Action("GroupIntroduce", "Index")}

                    @if (ViewBag.PageType == 2)
                    { @Html.Action("ProduceControl", "Index")}

                </div>

            </div>
        </div>




    </div>


</div>
