@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}


<div>

    <h3 class="text-center">企业介绍</h3>

    <div class="company-introduce-wrapper" style="margin-top:32px;">
        <div class="col-sm-12">
            <img style="height: auto;" src="~/Content/images/company_append.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>澳乐维他（上海）健康科技有限公司是澳大利亚独资的进出口贸易和品牌销售公司，注册地点在上海市，目前的主营业务是进口澳大利亚“Health Spring（Australia）Pty Ltd”旗下的三大品牌Enervite、OZ Good Dairy和NTSA产品到大中华区，并进行推广和销售。其中OZ Good Dairy奶粉系列中的羊奶粉是目前澳大利亚众多羊奶粉品牌中唯一一款引进大中华区的品牌。</p>
        </div>
    </div>

    <h3 class="col-sm-12 text-center" style="margin-top:55px;">品牌介绍</h3>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:0;">
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/brand_append_1.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>EnerVite（澳乐维他）品牌1983年创建于澳大利亚的悉尼，是澳洲草本植物类营养食品的开创者。通过30多年的沉淀与历练，已成为澳洲人喜爱与信任的品牌之一。EnerVite一直秉承“Spring into Health”的承诺，提供一系列天然草本植物、海洋生物、蜂产品、维生素和矿物质类营养食品。</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/brand_append_2.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>OZ Good Dairy（奶粉）品牌专注于牛奶粉和羊奶粉的研发及生产。全部鲜牛奶和鲜羊奶来自澳洲Gippsland Farm牧场，该牧场坐落于南北纬37度，是世界三大“黄金牧场” 之一。温和湿润的气候，与天际相连的草原，让这里成为牛羊的天堂，为澳乐乳提供了最优质的奶源。</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/brand_append_3.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>NTSA（艾缇莎）品牌专注于自然科学疗法，以澳洲的生物技术为后盾，不仅提供日常的健康护理，还注重于新陈代谢、身体运动机能、关节保护、生殖健康、肠道调理、健康瘦身等产品的研发生产，为客户提供了健康的生活品质。</p>
        </div>
    </div>


</div>
