@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}

<div>

    <h3 class="text-center">企业资讯</h3>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:32px">
        <div class="col-sm-12">
            <img class="center-block" style="height: auto;" src="~/Content/images/nomessage.jpg">
        </div>
    </div>

</div>
