@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}


<div>

    <h3 class="text-center">企业文化</h3>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:32px">
        <div class="col-sm-12">
            <img style="height: auto;" src="~/Content/images/culture_1.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>澳乐维他因梦想而启程，因使命而坚守,通过30多年的沉淀与历练，以其专业的知识，以人为本的理念，专注于为人类的健康提供安全优质的保健产品，提升人们的生活品质。形成了独特文化与理念、健康产品和品牌价值，为企业的永续经营奠定了坚实而稳固的基础。</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div><span>文化理念</span></div>
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/culture_2.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>澳乐维他拥有独特的企业文化，<strong>“以品服人”</strong>是核心价值观， <strong>“不断创新”</strong>是企业精神，以专业的知识，专注于为人类的健康提供安全优质的保健产品和生活品质服务，成为员工和伙伴的共同行为准则，是澳乐维他贡献给社会的宝贵精神财富。</p>
            <p style="margin-top:15px"><strong>“以人为本，享乐健康”</strong>是澳乐维他独特的健康理念，用坚若磐石的产品品质，实用的养生方法，更好地满足了现代人对健康生活的需求。</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div><span>健康产品</span></div>
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/culture_3.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>澳乐维他建立起了一套自然保健、疾病预防的完整产品体系。除了日常的健康护理，还注重于新陈代谢、身体运动机能、关节保健、生殖健康、肠道调理、健康瘦身等产品的研发，并细分为“健康父母”、“快乐成长”、“男士健康”、“女士美丽”、“孕婴童”等五大系列，满足男女老幼各类人群的健康需求。澳乐维他致力于产品的开发与创新，一系列新品已被成功推向市场，目前推出的美颜纤体（BIOLAX）系列一经推出就受到热烈追捧。</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div><span>主要市场</span></div>
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/culture_4.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>澳洲市场—实体药房50多家、线上药房15家，2018进驻Priceless, terry white等澳洲几大连锁药房</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/culture_5.jpg">
        </div>
        <div class="col-sm-12">
            <img style="height: auto;" src="~/Content/images/culture_6.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>中国市场—电商平台超过20家</p>
            <p>特殊渠道—辣妈学院，美丽俏佳人，妈妈去哪儿</p>
            <p>线下渠道—药房，商超</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/culture_7.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>澳洲华人市场—澳洲健康产品礼品店超过100家、代购市场及电商平台</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div><span>推广平台</span></div>
        <div class="col-sm-12" style="margin-top:32px;">
            <img style="height: auto;" src="~/Content/images/culture_8.jpg">
        </div>
    </div>


</div>
