@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/helpCenter.css");
}

<div class="container main-container">

    <div class="brand-story-title-wrapper">
        <h3 class="text-center">联系我们</h3>
    </div>


    <div class="help-center-wrapper">

        <p>我们关心您和您家人的健康，下面列出了一些常见的问题，可以帮助您快速了解我们的产品。</p>

        <div class="row">
            <div class="col-sm-3">

                <h3 class="second-head">常见问题分类</h3>

                <div class="panel-group" id="accordion-menu">

                    <div class="panel">

                        <div class="panel-title">

                            <a data-toggle="collapse" href="javascript:void(0);" class="collapsed">
                                <span class="main-item">
                                    <span>人才招聘</span>
                                </span>
                            </a>

                        </div>

                    </div>

                    <div class="panel">

                        <div class="panel-title">

                            <a data-toggle="collapse" href="javascript:void(0);" class="collapsed">
                                <span class="main-item">
                                    <span>招商代理</span>
                                </span>
                            </a>

                        </div>

                    </div>

                    <div class="panel">

                        <div class="panel-title">

                            <a data-toggle="collapse" href="javascript:void(0);" class="collapsed">
                                <span class="main-item">
                                    <span>联系我们</span>
                                </span>
                            </a>

                        </div>

                    </div>

                </div>


            </div>

            <div class="col-sm-9">

                <div id="companyIntroduce">

                    @*@Html.Action("Recruit", "Index");*@

                    @*@Html.Action("Job", "Index");*@

                    @Html.Action("FindUs", "Index");

                </div>

            </div>
        </div>




    </div>


</div>
