@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/helpCenter.css");
}

<div class="container main-container">

    <div>

        <div class="row">
            
            <div class="col-sm-12">

                <div id="companyIntroduce">

                    @if (ViewBag.PageType == 0)
                    {@Html.Action("Recruit", "Index")}

                    @if (ViewBag.PageType == 1)
                    {@Html.Action("Job", "Index")}

                    @if (ViewBag.PageType == 2)
                    { @Html.Action("FindUs", "Index")}

                </div>

            </div>
        </div>




    </div>


</div>
