<footer class="container-footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-2 center-block help-list">
                <a href="/Product/List"><h4>产品与服务</h4></a>
                <div class="line-divider"></div>
                <ul>
                    <li><a href="/Product/List">产品</a></li>
                    <li><a href="/Index/Advantage?p=8">服务</a></li>
                    <li><a href="/Index/ContactUs?p=2">联系</a></li>
                </ul>
            </div>
            <div class="col-sm-2 center-block help-list">
                <a href="/Index/Index"><h4>我们的品牌</h4></a>
                <div class="line-divider"></div>
                <ul>
                    <li><a href="/Index/MainSite">澳乐维他</a></li>
                    <li><a href="/Index/MainHealthSite">艾缇莎</a></li>
                    <li><a href="/Index/MainMilkSite">澳乐乳</a></li>
                </ul>
            </div>

            <div class="col-sm-2 center-block help-list">
                <a href="/Index/ContactUs?p=2"><h4>帮助中心</h4></a>
                <div class="line-divider"></div>
            </div>

            <div class="col-sm-6 center-block text-center share-btn">

                <div class="row">

                    <div class="col-sm-6 center-block text-right">

                        <div class="qr-pic">
                            <div class="weixin-logo"></div>
                            <div class="qr-pic-inner">
                                <img class="ercode-pic-weixin" src="~/Content/images/ercode-weixin.png" />
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6 center-block text-left">

                        <div class="qr-pic">
                            <div class="weibo-logo"></div>
                            <div class="qr-pic-inner">
                                <img class="ercode-pic-weibo" src="~/Content/images/ercode-weibo.png" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        var logo = $("#hdLogo").val();
        $("#" + logo).css("display", "");
    </script>

</footer>
