<footer class="container-footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-2 center-block help-list">
                <a href="/Index/HelpCenter"><h4>帮助中心</h4></a>
                <div class="line-divider"></div>
                <p><a href="/Index/HelpCenter">最新动态</a></p>
                <p><a href="/Index/HelpCenter">企业认证</a></p>
                <p><a href="/Index/HelpCenter">企业服务</a></p>
            </div>
            <div class="col-sm-2 center-block help-list">
                <a href="/Product/List"><h4>产品与服务</h4></a>
                <div class="line-divider"></div>
                <p><a href="/Product/List">找产品</a></p>
                <p><a href="/Index/ContractUs">找服务</a></p>
                <p><a href="/Index/ContractUs">找销售</a></p>
            </div>
            <div class="col-sm-2 center-block help-list">
                <a href="/Index/Index"><h4>我们的品牌</h4></a>
                <div class="line-divider"></div>
                <p><a href="/Index/MainSite">澳乐维他</a></p>
                <p><a href="/Index/MainHealthSite">艾缇莎</a></p>
                <p><a href="/Index/MainMilkSite">澳乐乳</a></p>
            </div>
            <div class="col-sm-6 center-block text-center share-btn">

                <div class="row">

                    <div class="col-sm-6 center-block text-right">

                        <div class="qr-pic">
                            <div class="weixin-logo"></div>
                            <div class="qr-pic-inner">
                                <img class="ercode-pic-weixin" src="~/Content/images/ercode-weixin.png" />
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6 center-block text-left">

                        <div class="qr-pic">
                            <div class="weibo-logo"></div>
                            <div class="qr-pic-inner">
                                <img class="ercode-pic-weibo" src="~/Content/images/ercode-weixin.png" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>


</footer>
