@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}


<div>

    <h3 class="text-center">了解我们</h3>

    <div class="company-introduce-wrapper" style="margin-top:55px;">

        <div class="center-block company-introduce">
            <p>
                我们从事健康行业，对身心健康的发展都有着一份执着追求和推动的热情。
            </p>
            <p>
                我们来自五湖四海，互相帮助和支持，让我们成为快乐的一家人。
            </p>
            <p>
                期待有才之士的加入哦！
            </p>
        </div>

    </div>

    <div class="content-inner">

        <div class="row brand-pic">
            <div class="col-sm-12">
                <img style="height: auto;" src="~/Content/images/exhibition.jpg">
            </div>
            <div class="col-sm-12">
                <img style="height: auto;margin-top:50px" src="~/Content/images/employee_all.jpg">
            </div>
            <div class="col-sm-12">
                <img style="height: auto; margin-top:50px" src="~/Content/images/star_attend.jpg">
            </div>
        </div>

    </div>

</div>
