@{
    ViewBag.Title = "澳乐维他";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/helpCenter.css");
}

<div class="container main-container">

    <div class="brand-story-title-wrapper">
        <h3 class="text-center">帮助</h3>
    </div>


    <div class="help-center-wrapper">

        <p>下面的常见问题能解答您大部分问题。</p>
        <p>如果您还有其他问题，您可以直接联系我们。</p>

        <h3 class="second-head">常见问题</h3>

        <p>我们关心您和您家人的健康，下面列出了一些常见的问题，可以帮助您快速了解我们的产品。</p>


        <div class="panel-group" id="accordion">

            <div class="panel">
                <h4 class="panel-title">

                    <a data-toggle="collapse"
                       href="#collapseOne" class="collapsed">
                        <span class="collapse-symbol"></span>
                        <span class="question-name">澳乐维他的保健品是在哪里制造的</span>
                    </a>
                </h4>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        Enervite是一个完全的澳洲拥有澳洲制造品牌，所有产品都是百分百按照药监局的标准研发、制造、生产和运输。我们的生产基地在澳大
                        利亚悉尼市。
                    </div>
                </div>
            </div>

            <div class="panel">
                <h4 class="panel-title">

                    <a data-toggle="collapse"
                       href="#collapse2" class="collapsed">
                        <span class="collapse-symbol"></span>
                        <span class="question-name">什么是软胶囊？</span>
                    </a>
                </h4>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Enervite是一个完全的澳洲拥有澳洲制造品牌，所有产品都是百分百按照药监局的标准研发、制造、生产和运输。我们的生产基地在澳大
                        利亚悉尼市。
                    </div>
                </div>
            </div>

            <div class="panel">
                <h4 class="panel-title">

                    <a data-toggle="collapse"
                       href="#collapse3" class="collapsed">
                        <span class="collapse-symbol"></span>
                        <span class="question-name">什么是软胶囊？</span>
                    </a>
                </h4>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Enervite是一个完全的澳洲拥有澳洲制造品牌，所有产品都是百分百按照药监局的标准研发、制造、生产和运输。我们的生产基地在澳大
                        利亚悉尼市。
                    </div>
                </div>
            </div>


            <div class="panel">
                <h4 class="panel-title">

                    <a data-toggle="collapse"
                       href="#collapse4" class="collapsed">
                        <span class="collapse-symbol"></span>
                        <span class="question-name">如何储存澳乐维他的保健产品的呢？</span>
                    </a>
                </h4>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        Enervite是一个完全的澳洲拥有澳洲制造品牌，所有产品都是百分百按照药监局的标准研发、制造、生产和运输。我们的生产基地在澳大
                        利亚悉尼市。
                    </div>
                </div>
            </div>


            <div class="panel">
                <h4 class="panel-title">

                    <a data-toggle="collapse"
                       href="#collapse5" class="collapsed">
                        <span class="collapse-symbol"></span>
                        <span class="question-name">我如何知道应该服用哪种保健品？</span>
                    </a>
                </h4>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        Enervite是一个完全的澳洲拥有澳洲制造品牌，所有产品都是百分百按照药监局的标准研发、制造、生产和运输。我们的生产基地在澳大
                        利亚悉尼市。
                    </div>
                </div>
            </div>


            <div class="panel">
                <h4 class="panel-title">

                    <a data-toggle="collapse"
                       href="#collapse6" class="collapsed">
                        <span class="collapse-symbol"></span>
                        <span class="question-name">我从哪里可以买到澳乐维他的产品？</span>
                    </a>
                </h4>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        Enervite是一个完全的澳洲拥有澳洲制造品牌，所有产品都是百分百按照药监局的标准研发、制造、生产和运输。我们的生产基地在澳大
                        利亚悉尼市。
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>
