@{
    ViewBag.Title = "澳乐维他";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/default.css");
}

<div class="container-bg img-responsive">

    <div class="masthead-top">

        <div class="container">

            <div class="row text-center">
                <img src="~/Content/images/our-logo.png">
            </div>

            <div class="row brand-list">
                <div class="col-sm-4 center-block text-center">
                    <a href="/Index/MainHealthSite">
                        <img src="~/Content/images/brand-pill.png">
                    </a>
                </div>
                <div class="col-sm-4 center-block text-center">
                    <a href="/Index/MainSite">
                        <img src="~/Content/images/brand-main.png">
                    </a>
                </div>
                <div class="col-sm-4 center-block text-center">
                    <a href="/Index/MainMilkSite">
                        <img src="~/Content/images/brand-milk.png">
                    </a>
                </div>
            </div>

        </div>



    </div>



</div>

<div class="container-map-bg img-responsive">

    <div class="masthead">

        <div class="search-outer index-view">

            <div class="row text-center">
               
                <form class="search-wrapper" method="get" target="_blank" action="/Product/Search">
                    <input  name="kw" type="text" class="form-control" placeholder="请输入您要搜索的商品">
                    <input type="submit" value="" class="search-btn">
                </form>

            </div>

        </div>

        <div class="passage-outer">
            <p class="text-wrapper index-passage">澳乐维他（上海）健康科技有限公司是澳大利亚独资的进出口贸易和品牌销售公司，目前的主营业务是进口澳大利亚“Health Spring （Australia）Pty Ltd”旗下的三大品牌Enervite，NTSA和OZ Good Dairy产品到大中华区，并进行推广和销售。</p>
            <p class="text-wrapper">EnerVite（澳乐维他）品牌1983年成立于澳大利亚的悉尼，是以澳洲草本植物类营养食品的开发者。EnerVite一直秉承“Spring into Health”的承诺，提供一系列天然草本植物、海洋生物、蜂产品、维生素和矿物质类营养食品。</p>
            <p class="text-wrapper">OZ Good Dairy（澳乐乳奶粉）品牌专注于牛奶粉和羊奶粉的研发及生产。全部鲜牛奶和鲜羊奶来自澳洲Gippsland Farm牧场，该牧场坐落于南北纬37度，是世界三大“黄金牧场” 之一。</p>
            <p class="text-wrapper">NTSA（艾缇莎）品牌专注于自然科学疗法，以澳洲严格的生物技术为后盾，不仅提供日常的健康护理，还注重于新陈代谢、身体运动机能、关节保护、生殖健康、肠道调理、健康塑形等产品的研发生产，为客户提供良好的健康生活品质。</p>
            <p class="text-wrapper">品质与功效成就了我们的品牌，也将成就澳乐维他（上海）健康科技有限公司。</p>
        </div>

    </div>



</div>
