@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}


<div>

    <h3 class="text-center">招商代理</h3>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:32px">
        <div class="col-sm-12">
            <img style="height: auto;" src="~/Content/images/agency.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>如果您对我们旗下三个品牌（澳乐维他、澳乐乳、艾缇莎）感兴趣，愿意与我们一起在中国境内市场开发共同前进，欢迎您前来咨询共商合作！</p>
            <p><strong>招商服务热线：400-0002-229   邮箱：hr@enervite.com.cn</strong></p>
        </div>
    </div>

</div>
