@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}


<div>

    <h3 class="text-center">加入我们</h3>

    <div class="company-introduce-wrapper" style="margin-top:55px;">

        <div class="center-block company-introduce">
            <p>如果你有一定的才华，却未找到合适的施展舞台，来联系我们吧~</p>
            <p>迈出你的第一步，不惧困难，不怕拒绝！</p>
            <p>去相信，去证明，梦想一触即发！</p>
            <p>高薪不是幻影，只要你愿意，就别再等啦！</p>
            <p>我们正在招聘的职位：</p>
            <p>电商运营总监</p>
            <p>首席运营官/COO</p>
            <p>外贸跟单员</p>
            <p>渠道销售专员</p>
            <p>电商运营经理</p>
            <p>电商运营专员</p>
            <p>电商运营助理</p>
            <p>创意文案策划</p>
            <p>出纳员</p>
            <p>财务会计</p>
            <p>保健品研发专员</p>
            <p>保健食品注册主管</p>
            <p>产品经理</p>
            <p>如果您想加入我们，请发送个人简历和应聘岗位到HR@enervite.com.cn</p>
            <p>期待您的加入！</p>
        </div>

    </div>


</div>
