@{
    ViewBag.Title = "澳乐维他";
    Layout = "~/Views/Shared/MainSiteLayout.cshtml";
    @Styles.Render("~/Content/css/index.css");
    @Styles.Render("~/Content/css/owl.carousel.css");
    @Styles.Render("~/Content/css/owl.theme.css");

    <script src="~/Content/js/mainSite.js"></script>
}


<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://test.cfxixi.com/Enerviteweb2/resources/images/Milk-Baby-Banner.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="http://test.cfxixi.com/Enerviteweb2/resources/images/Milk-Baby-Banner.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="http://test.cfxixi.com/Enerviteweb2/resources/images/Milk-Baby-Banner.jpg" alt="Third slide">
        </div>
    </div>

</div>

<div class="container">

    <div class="inner-content">

        <div class="search-outer">

            <div class="row text-center">

                <form class="search-wrapper" method="post" target="_blank" action="/Index/Search">
                    <input type="text" class="form-control" placeholder="请输入您要搜索的商品">
                    <input name="searchsubmit" type="submit" value="" class="search-btn">
                </form>

            </div>

        </div>

        <div class="product-category-wrapper">
            <h3 class="text-center">产品分类</h3>
        </div>

        <ul class="row text-center shortcut-button-list">
            <li>
                <a href="javascript:void(0);" class="btn btn-default btn-lg" role="button">快乐成长</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="btn btn-primary btn-lg" role="button">健康父母</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="btn btn-default btn-lg" role="button">男士健康</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="btn btn-default btn-lg" role="button">女士美丽</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="btn btn-default btn-lg" role="button">孕婴童</a>
            </li>
        </ul>

        <div class="row company-introduce-wrapper">
            <div class="col-sm-7 center-block company-introduce">
                <p>
                    澳乐维他（上海）健康科技有限公司是澳大利亚独资的进出口贸易和品牌销售公司，目前的主营业务是进口澳大利亚“Health Spring （Australia）Pty Ltd”旗下的三大品牌Enervite，NTSA和OZ Good Dairy产品到大中华区，并进行推广和销售。
                </p>
                <p>
                    EnerVite（澳乐维他）品牌1983年成立于澳大利亚的悉尼，是澳洲草本植物类营养食品的开创者。EnerVite一直秉承“Spring into Health”的承诺，提供一系列天然草本植物、海洋生物、蜂产品、维生素和矿物质类营养食品。
                </p>
                <p>
                    OZ Good Dairy（奶粉）品牌专注于牛奶粉和羊奶粉的研发及生产。全部鲜牛奶和鲜羊奶来自澳洲Gippsland Farm牧场，该牧场坐落于南北纬37度，是世界三大“黄金牧场” 之一。
                </p>
                <p>
                    NTSA（艾缇莎）品牌专注于自然科学疗法，以澳洲顶尖的生物技术为后盾，不仅提供日常的健康护理，还注重于新陈代谢、身体运动机能、关节保护、生殖健康、肠道调理、健康瘦身等产品的研发生产，为全球人类提供优质的健康生活品质。
                </p>
                <p>
                    品质与功效成就了Enervite和OZ Good Dairy，也即将成就澳乐维他（上海）健康科技有限公司。
                </p>
            </div>
            <div class="col-sm-5 center-block text-center">
                <video width="100%" height="100%" poster="~/Content/images/video-cover.jpg" controls="">
                    <source src="http://test.cfxixi.com/Enerviteweb2/movie.mp4" type="video/mp4">
                    <object data="http://test.cfxixi.com/Enerviteweb2/movie.mp4" width="100%" height="100%"></object>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="product-category-wrapper">
            <h3 class="text-center">明星产品</h3>
        </div>

        <article class="recommend-list">

            <div class="snap-list-wrapper">

                <section id="snapList">

                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="snap-list-outer">
                        <div class="snap-list-inner">
                            <a href="javascript:void(0);">
                                <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                <div>
                                    <h3>澳洲的哈药六厂</h3>
                                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                </div>
                            </a>
                        </div>
                    </div>


                </section>

            </div>
        </article>

        <div class="product-category-wrapper">
            <h3 class="text-center">关于我们</h3>
        </div>

        <div class="row about-us">
            <div class="col-sm-4">
                <img src="http://test.cfxixi.com/Enerviteweb3/resources/images/51.jpg" />
                <div>
                    <h3>澳洲的哈药六厂</h3>
                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                </div>
            </div>

            <div class="col-sm-4">
                <img src="http://test.cfxixi.com/Enerviteweb3/resources/images/52.jpg" />
                <div>
                    <h3>澳洲的哈药六厂</h3>
                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                </div>
            </div>

            <div class="col-sm-4">
                <img src="http://test.cfxixi.com/Enerviteweb3/resources/images/51.jpg" />
                <div>
                    <h3>澳洲的哈药六厂</h3>
                    <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                </div>
            </div>
        </div>

    </div>

</div>

