@{
    ViewBag.Title = "澳乐维他";
    Layout = "~/Views/Shared/MainMilkSiteLayout.cshtml";
    @Styles.Render("~/Content/css/productDetail.css");
    @Styles.Render("~/Content/css/owl.carousel.css");
    @Styles.Render("~/Content/css/owl.theme.css");

    <script src="~/Content/js/productDetail.js"></script>
}

<div class="container">

    <div class="container-inner">

        <div class="row">
            <div class="col-sm-5 center-block text-center">

                <article class="recommend-list">

                    <div class="snap-list-wrapper">

                        <section id="snapList">

                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                    </a>
                                </div>
                            </div>


                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                    </a>
                                </div>
                            </div>


                        </section>

                    </div>
                </article>

            </div>
            <div class="col-sm-7 center-block">
                <h3>澳乐维他 新一代强力减肥 树莓酮 提取物胶囊减 脂非药 澳洲进口 定制款30粒/瓶 一瓶</h3>
                <h4 class="mt30">树莓酮 覆盆子酮提取物胶囊男女士快速减肥瘦身产品减脂</h4>
                <p class="mt20">
                    <span class="price">199元</span>
                    <span><img class="purchase-btn" src="~/Content/images/buy-btn.png"></span>
                </p>
                <div class="border-line"></div>
                <div class="row product-introduce">
                    <div class="col-sm-7 center-block">
                        <h4>商品名称：新一代强力减肥</h4>
                        <h4>商品编号：1990841538</h4>
                        <h4>商品毛重：200G</h4>
                        <h4>主要成分：其他</h4>
                        <h4>蓝帽标识：营养膳食补充剂（非食健字）</h4>
                    </div>

                    <div class="col-sm-5 center-block">
                        <h4>功能：其他</h4>
                        <h4>国产/进口：进口</h4>
                        <h4>价位：300-499</h4>
                        <h4>试用人群：通用商品</h4>
                        <h4>剂型：软胶囊</h4>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="container">

    <div class="product-detail">

        <div class="row">

            <div class="col-sm-3 center-block">
                <p>
                    <span class="pre-star"><img src="~/Content/images/star.png"></span>
                    <span class="product-title-name">明星产品</span>
                </p>

                <article class="recommend-list">

                    <div class="snap-list-wrapper">

                        <ul>

                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                        <div>
                                            <h3>澳洲的哈药六厂</h3>
                                            <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                        <div>
                                            <h3>澳洲的哈药六厂</h3>
                                            <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                        <div>
                                            <h3>澳洲的哈药六厂</h3>
                                            <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                        <div>
                                            <h3>澳洲的哈药六厂</h3>
                                            <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                        </div>
                                    </a>
                                </div>
                            </li>


                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                        <div>
                                            <h3>澳洲的哈药六厂</h3>
                                            <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                        <div>
                                            <h3>澳洲的哈药六厂</h3>
                                            <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li class="snap-list-outer">
                                <div class="snap-list-inner">
                                    <a href="javascript:void(0);">
                                        <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                        <div>
                                            <h3>澳洲的哈药六厂</h3>
                                            <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                        </div>
                                    </a>
                                </div>
                            </li>


                        </ul>

                    </div>
                </article>

            </div>
            <div class="col-sm-9 center-block text-center">

                <img src="~/Content/images/product-content.jpg" />

            </div>

        </div>

    </div>

</div>
