@{
    ViewBag.Title = "澳乐维他";
    Layout = null;
    @Styles.Render("~/Content/css/monitor.css");
}

<div>

    <h3 class="text-center">生产质控</h3>

    <div class="content-inner" style="margin-top: 60px;">

        <div class="center-block text-center video-wrapper">

            <video width="100%" height="100%" poster="~/Content/images/video-cover.jpg" controls="">
                <source src="/Content/video/fpa.mp4" type="video/mp4">
                <object data="/Content/video/fpa.mp4" width="100%" height="100%"></object>
                Your browser does not support the video tag.
            </video>

        </div>

    </div>

    <div class="row main-content">
        <div class="col-sm-12">

            <div class="company-introduce-wrapper">

                <div class="center-block company-introduce">
                    <p>
                        FPA是澳大利亚最具活力和创新能力并拥有澳大利亚药物管理局（TGA）的认证制造商，是专业从事补充药品、保健食品、奶粉制品和化妆品生产的企业。
                    </p>
                    <p>
                        “澳药集团”（FPA）注重品质、注重长效、注重每一粒产品品质，并始终保持严格标准。FPA指定了一套完整的质量保障体系，从土壤、物种、培育、养护、管理，确保天然；从设备、温度、湿度、储运、监控，从研发团队、技术实力、营销服务、管理机制，不放过任何一个质量监控环节，严格落实好TGA指导下的GMP标准，全面实现“Spring into Health”的承诺。
                    </p>
                    <p>
                        2015和2016年，FPA连续两年被澳洲药品保健品协会评为“最佳生产质量企业”。
                    </p>
                    <p>
                        到2016年年底，随着第二个生产工厂的投产，FPA将会成为南半球最大的制药企业。
                    </p>
                </div>

            </div>

        </div>
    </div>



</div>
