@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}


<div>

    <h3 class="text-center">生产质控</h3>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:32px">
        <div><span class="subtitle">澳大利亚四大制药之一</span></div>
        <div class="col-sm-12 mt32">
            <img style="height: auto;" src="~/Content/images/product_control_1.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p><strong>作为南半球最大的制药厂，FPA是EnerVite澳乐维他品牌的战略合作伙伴和强大后盾。</strong></p>
            <p>FPA是澳大利亚最具活力和创新能力并拥有澳大利亚药物管理局（TGA）认证的制造商，专业从事补充药品，保健食品和奶粉制品的生产企业。建厂于2008年，FPA致力于生产高质量的澳大利亚制造的补充药品以供应国内和国际市场。</p>
            <p>FPA的现代化工厂位于澳大利亚悉尼西郊Chester hill区。第二个大型工厂正在建设中，届时将使FPA成为南半球最大的制药企业。</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div><span class="subtitle">全面的制造能力和服务</span></div>
        <div class="col-sm-12 mt32">
            <img style="height: auto;" src="~/Content/images/product_control_2.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>研制和开发（现拥有近3000个配方），稳定性和保质期测试，微生物检测（独立实验室），分析测试，TGA监管文件，出口认证。</p>
        </div>
    </div>

    <div class="col-sm-12 company-introduce-wrapper" style="margin-top:55px;">
        <div><span class="subtitle">2015与2016澳洲最佳质量奖</span></div>
        <div class="col-sm-12 mt32">
            <img style="height: auto;" src="~/Content/images/product_control_3.jpg">
        </div>
        <div class="col-sm-12 company-introduce" style="margin-top:32px;">
            <p>独立实验室，拥有研发，测试，认证，采购，生产的全面制造能力</p>
        </div>
    </div>

</div>
