@{
    ViewBag.Title = "澳乐维他";
    Layout = "~/Views/Shared/MainSiteLayout.cshtml";
    @Styles.Render("~/Content/css/productList.css");

}

<div class="container">
    <div class="row">
        <div class="col-sm-3 center-block">

            <ul class="product-type-list mt30">
                <li>所有商品</li>
                <li>快乐成长</li>
                <li>健康成长</li>
                <li>男士健康</li>
                <li>女士健康</li>
                <li>孕妇童</li>
            </ul>

            <article class="recommend-list">

                <div class="snap-list-wrapper">

                    <div class="recommend-list-title">商品推荐</div>

                    <ul>

                        <li class="snap-list-outer">
                            <div class="snap-list-inner">
                                <a href="javascript:void(0);">
                                    <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                    <div>
                                        <h3>澳洲的哈药六厂</h3>
                                        <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li class="snap-list-outer">
                            <div class="snap-list-inner">
                                <a href="javascript:void(0);">
                                    <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                    <div>
                                        <h3>澳洲的哈药六厂</h3>
                                        <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                    </ul>

                </div>
            </article>

        </div>
        <div class="col-sm-9 center-block">
            <ol class="breadcrumb">
                <li><a href="javascript:void(0);">首页</a></li>
                <li><a href="javascript:void(0);">所有商品</a></li>
            </ol>

            <ul class="product-list-content">
                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                    <p class="product-price">199元</p>
                </li>


            </ul>
        </div>
    </div>
</div>
