@{
    ViewBag.Title = "澳乐维他";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/monitor.css");
}

<div class="container main-container">

    <div class="brand-story-title-wrapper">
        <h3 class="text-center">生产质控</h3>
    </div>

    <div class="content-inner">

        <div class="center-block text-center video-wrapper">

            <video width="100%" height="100%" poster="~/Content/images/product_video_cover.png" controls="">
                <source src="/Content/video/movie.mp4" type="video/mp4">
                <object data="/Content/video/movie.mp4" width="100%" height="100%"></object>
                Your browser does not support the video tag.
            </video>

        </div>

    </div>

    <div class="row main-content">
        <div class="col-sm-5 center-block monitor-pics">
            <img src="http://test.cfxixi.com/Enerviteweb3/resources/images/51.jpg">
            <img src="http://test.cfxixi.com/Enerviteweb3/resources/images/52.jpg">
        </div>
        <div class="col-sm-7">
            
            <div class="company-introduce-wrapper">

                <div class="center-block company-introduce">
                    <p>
                        澳乐维他（上海）健康科技有限公司是澳大利亚独资的进出口贸易和品牌销售公司，目前的主营业务是进口澳大利亚“Health Spring （Australia）Pty Ltd”旗下的三大品牌Enervite，NTSA和OZ Good Dairy产品到大中华区，并进行推广和销售。
                    </p>
                    <p>
                        EnerVite（澳乐维他）品牌1983年成立于澳大利亚的悉尼，是澳洲草本植物类营养食品的开创者。EnerVite一直秉承“Spring into Health”的承诺，提供一系列天然草本植物、海洋生物、蜂产品、维生素和矿物质类营养食品。
                    </p>
                    <p>
                        OZ Good Dairy（奶粉）品牌专注于牛奶粉和羊奶粉的研发及生产。全部鲜牛奶和鲜羊奶来自澳洲Gippsland Farm牧场，该牧场坐落于南北纬37度，是世界三大“黄金牧场” 之一。
                    </p>
                    <p>
                        NTSA（艾缇莎）品牌专注于自然科学疗法，以澳洲顶尖的生物技术为后盾，不仅提供日常的健康护理，还注重于新陈代谢、身体运动机能、关节保护、生殖健康、肠道调理、健康瘦身等产品的研发生产，为全球人类提供优质的健康生活品质。
                    </p>
                    <p>
                        品质与功效成就了Enervite和OZ Good Dairy，也即将成就澳乐维他（上海）健康科技有限公司。
                    </p>
                </div>

            </div>

        </div>
    </div>

    

</div>
