@{
    Layout = null;
    @Styles.Render("~/Content/css/brandStory.css");
}


<div>

    <h3 class="text-center">成为代理商</h3>

    <div class="company-introduce-wrapper" style="margin-top:55px;">

        <div class="center-block company-introduce">
            <p>如果您对我们旗下三个品牌感兴趣，愿意与我们一起在中国境内市场开发共同前进，欢迎您前来咨询共商合作！</p>
            <p>招商服务热线：400-0002-229</p>
        </div>

    </div>


</div>
