@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/search.css");
}

<div class="container">

    <div class="row">
        <div class="col-sm-3 center-block">

            <article class="recommend-list">

                <div class="snap-list-wrapper">

                    <div class="recommend-list-title">商品推荐</div>

                    <ul>

                        <li class="snap-list-outer">
                            <div class="snap-list-inner">
                                <a href="javascript:void(0);">
                                    <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/biolax-jd-top-1.jpg">
                                    <div>
                                        <h3>澳洲的哈药六厂</h3>
                                        <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li class="snap-list-outer">
                            <div class="snap-list-inner">
                                <a href="javascript:void(0);">
                                    <img class="recommend-product" src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg">
                                    <div>
                                        <h3>澳洲的哈药六厂</h3>
                                        <p>产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介产品简介</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                    </ul>

                </div>
            </article>

        </div>
        <div class="col-sm-9 center-block">

            <ol class="breadcrumb">
                <li><a href="javascript:void(0);">首页</a></li>
                <li><a href="javascript:void(0);">所有结果</a></li>
                <li><a href="javascript:void(0);">胶囊</a></li>
                <li class="search-outer-wrapper">
                    <div class="search-outer">
                        <div class="row text-center">

                            <form class="search-wrapper" method="get" action="/Product/Search">
                                <input name="kw" type="text" class="form-control" placeholder="请输入您要搜索的商品">
                                <input type="submit" value="" class="search-btn">
                            </form>
                        
                        </div>
                    </div>
                </li>
            </ol>

            <ul class="product-list-content">
                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>

                <li>
                    <img src="http://www.enervite.com.cn/wp-content/uploads/2016/02/kidsgoatsmilk-jd-top-3.jpg" />
                    <p class="product-name">树莓酮</p>
                </li>


            </ul>

        </div>

    </div>




</div>
