<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/css/app.css");

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://test.cfxixi.com/Enerviteweb2/libs/owl.carousel.js"></script>

</head>


<body>

    <div class="container">

        <nav class="navbar" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header brand-name">
                    <img class="img-responsive" src="../images/main-logo-milk.png" />
                </div>

                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品展示</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">膳食补充剂</a></li>
                                <li><a href="#">营养保健品</a></li>
                                <li><a href="#">澳洲奶粉</a></li>
                                <li><i class="up-caret"></i></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">实力优势</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">企业介绍</a></li>
                                <li><a href="#">团队介绍</a></li>
                                <li><a href="#">生产监控</a></li>
                                <li><i class="up-caret"></i></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">联系我们</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">招商代理</a></li>
                                <li><a href="#">人才招聘</a></li>
                                <li><a href="#">联系方式</a></li>
                                <li><i class="up-caret"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>


    @RenderBody()
    
    <footer class="container-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-2 center-block help-list">
                    <h4>帮助中心</h4>
                    <div class="line-divider"></div>
                    <p><a href="javascript:void(0);">最新动态</a></p>
                    <p><a href="javascript:void(0);">企业认证</a></p>
                    <p><a href="javascript:void(0);">企业服务</a></p>
                </div>
                <div class="col-sm-2 center-block help-list">
                    <h4>产品与服务</h4>
                    <div class="line-divider"></div>
                    <p><a href="javascript:void(0);">找产品</a></p>
                    <p><a href="javascript:void(0);">找服务</a></p>
                    <p><a href="javascript:void(0);">找销售</a></p>
                </div>
                <div class="col-sm-2 center-block help-list">
                    <h4>我们的品牌</h4>
                    <div class="line-divider"></div>
                    <p><a href="javascript:void(0);">澳乐维他</a></p>
                    <p><a href="javascript:void(0);">艾缇莎</a></p>
                    <p><a href="javascript:void(0);">澳乐乳</a></p>
                </div>
                <div class="col-sm-6 center-block text-center share-btn">

                    <div class="row">

                        <div class="col-sm-6 center-block text-right">

                            <div class="qr-pic">
                                <div class="weixin-logo"></div>
                                <div class="qr-pic-inner">
                                    <img class="ercode-pic-weixin" src="../images/ercode-weixin.png" />
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6 center-block text-left">

                            <div class="qr-pic">
                                <div class="weibo-logo"></div>
                                <div class="qr-pic-inner">
                                    <img class="ercode-pic-weibo" src="../images/ercode-weixin.png" />
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
