.content-inner{
    position: relative;
}

.main-container{
    padding-top: 60px;
}

.brand-story-title-wrapper{
    position: relative;
}

.brand-story-title-wrapper h3 {
    color: #1eb9eb;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    line-height: 60px;
}

.brand-story-title-wrapper h3:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -95px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    height: 1px;
    background: #1eb9eb;
}


.brand-story-title-wrapper h3:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -95px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    height: 1px;
    background: #1eb9eb;
}

.brand-pic{
    margin-top: 80px;
}

.brand-pic img {
    height: 320px;
    width: 100%;
    padding: 0 20px;
}



.company-introduce-wrapper{
    margin-top: 90px;
    padding: 0 20px;
}


.company-introduce p {
    color: #000000;
    font-size: 16px;
    text-indent: 2em;
    line-height: 30px;
}


.subtitle {
    background: rgb(91,155,213);
    padding: 15px 20px 10px 20px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
}

.mt32{
    margin-top:32px;
}